* {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

.layout .hidden {
  display: none;
}

em {
  font-size: 0.7rem;
  letter-spacing: 0.3rem;
  font-style: normal;
}

.layout {
  display: flex;
  flex-direction: row;
}

.card-front {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.code {
  position: absolute;
  /*width: 447px;*/
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
}

.code svg {
  padding-block: 25%;
  padding-inline: 5%;
  width: 100%;
}

#information,
.code p {
  list-style: none;
  display: flex;
  margin-block: 5%;
  padding-inline: 5%;
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
  width: 100%;

}

#information li {
  justify-content: center;
}

.code p {
  letter-spacing: 0.4rem;
  width: 120%;
  word-break: keep-all;
}

li {
  font-size: 0.7rem;
  letter-spacing: 0.2rem;
}

.code {
  width: 100%;
  word-break: keep-all;
}

.container label {
  letter-spacing: 0.1rem;
}

#main {
  position: absolute;

}

#front,
#back {
  position: relative;
  max-width: 130%;
}

.area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.money {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 900px;
  gap: 2rem;
  margin-left: 15%;
}

#back {
  margin-left: 20%;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  align-content: center;
  justify-items: center;
  margin-left: 8%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label {
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  color: hsl(278, 68%, 11%);
  font-size: 0.9rem;
}

input {
  color: hsl(270, 3%, 87%);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border-color: hsl(270, 3%, 87%);
  box-sizing: border-box;
  display: inline-block;
  box-shadow: none;
  border-width: 1px;
  border: hsl(270, 3%, 87%) 1px solid;
  width: 100%;
}

#information {
  margin: 0;
  padding-bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30%;
  opacity: 80%;
}

#card_name,
#card_number {
  min-width: max-content;
}

input:focus {
  outline: none;
  border-color: hsl(279, 6%, 55%);
}

input {
  color: hsl(278, 68%, 11%);
  border-width: 2px;
  text-overflow: ellipsis;
  opacity: 70%;
}

#exp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

#numy {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  width: 100%;
}

.cvc #numy {
  display: block;
}

.field {
  flex-direction: column;
  width: 100%;
  justify-content: center;

}

.cvc {
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-block: 0;
  display: inline-block;
  width: auto;
  margin-left: 8%;
  margin-right: 8%;

}

.code p {
  font-size: 100%;
}

.expare input {
  width: 5rem;
}

button {
  background-color: hsl(278, 68%, 11%);
  color: white;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;

}

.attribution a {
  font-size: 12px;
}


.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.thanks h1 {
  text-transform: uppercase;
  color: hsl(278, 68%, 11%);
  font-size: 1.5rem;
  font-weight: lighter;
  letter-spacing: 0.3rem;
}

.thanks p {
  color: hsl(279, 6%, 55%);
}

.thanks button {
  width: 170%;
  margin-top: 1.5rem;
  margin-bottom: 50px;
}


input.success {
  border-color: purple;
}

input.error {
  border-color: red;
}

.thanks button {
  max-width: 400px;
}

div.error {
  color: red;
  /* font-size: 16px; */
  /* margin-bottom: 1rem; */
  /* display: inline-block; */
}

#card_cvc {
  color: white;
  position: absolute;
  display: block;
  padding-right: 3rem;
  padding-bottom: 0.2rem;
}

.card-back {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin-left: 5rem;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url(images/bg-main-mobile.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    border: 0;
    display: block;
    float: none;
    white-space: normal;
    padding: 0;
    outline: 0;
  }

  .card-back {
    margin-bottom: 0.8rem;
  }

  #back {
    margin-left: 25%;
  }

  .code svg {
    padding-block: 25%;
    padding-inline: 5%;
  }

  .money {
    display: flex;
    flex-direction: column-reverse;
    height: 500px;
    align-items: center;
    margin: 0;
    display: block;
    min-width: 100%;
    margin-bottom: 0 !important;
    ;
  }

  .attribution {
    text-align: center;
  }

  .area #main {
    display: none;
  }

  .card-front {
    background-image: url(images/card-logo.svg);
    z-index: 100;
    height: 6.1rem;
    margin-right: 4rem;
  }



  .layout {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
  }


  form {
    align-self: center;
    padding: 0;
    height: 50%;
    margin-inline: 0;
  }

  button {
    margin-bottom: 30px;
  }

  #information {
    margin: 0;
    padding-bottom: 5%;
    width: 100%;
    gap: 150px;
  }

  .container {
    margin: 0;
  }

  .thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .thanks h1 {
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 0.3rem;
  }

  .thanks p {
    color: hsl(279, 6%, 55%);
  }

  .thanks button {
    width: 170%;
    margin-top: 1.5rem;
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 960px) {
  body {
    background-image: url(images/bg-main-mobile.png);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    margin: 0;
    padding: 0;
  }

  #information {
    margin: 0;
    padding-bottom: 5%;
    width: 90%;
    gap: 30%;
  }

  .code svg {
    padding-block: 25%;
    padding-inline: 10%;
  }

  .card-back {
    margin-bottom: 0.8rem;
    width: 80%;
  }

  .money {
    display: flex;
    flex-direction: column-reverse;
    height: 500px;
    margin: 0;
    align-items: center;
    padding: 0;
    width: 90%;
    margin-bottom: 12%;
  }

  .area #main {
    display: none;
  }

  .card-front {
    background-image: url(images/card-logo.svg);
    z-index: 100;
    height: 6.1rem;
  }

  .layout {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .thanks h1 {
    text-transform: uppercase;
    color: hsl(278, 68%, 11%);
    font-size: 1.5rem;
    font-weight: lighter;
    letter-spacing: 0.3rem;
  }

  .thanks p {
    color: hsl(279, 6%, 55%);
  }

  .thanks button {
    width: 170%;
    margin-top: 1.5rem;
    margin-bottom: 50px;
  }

  form {
    display: flex;
    align-self: center;
    margin-top: 1%;
    margin: 0;
  }


  button {
    margin-bottom: 30px;
  }
}